/*CSS Reset*/
html, body, h1, h2, h3, h4, h5, h6, div, ul, ol, li, dl, dt, dd, iframe, textarea, input, button, p, strong, b, a, span, del, pre, table, tr, th, td, form, fieldset{margin:0;padding:0;word-wrap: break-word;}
body{font-family:"宋体","微软雅黑",sans-serif; font-size:12px;cursor:default}
h1,h2,h3,h4,h5,h6{font-size:14px; font-weight:bold;}
i,em{ font-style:normal}
a{ color:#333; text-decoration:none; outline:none;}
a:hover{color:#333;text-decoration:underline;}
input,textarea,select,button,label{vertical-align:middle; font-size:12px;}
input{ border:none;}
button{background:none; border:none; cursor:pointer;}
address,cite,code,em,var,abbr,acronym{font-style:normal;}
table{border-collapse:collapse;table-layout:fixed}/*table-layout:fixed*/
td,th{ word-wrap:break-word; word-break:break-all; overflow:hidden;}
ul,li{list-style:none;}
img{border:none;}
img:-moz-broken{-moz-force-broken-image-icon:1;}
.clear{clear:both}
.clearfix{zoom:1;}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0;}